html{
     height: 100%;
    }
body{
     background: rgb(20,244,207);
     background: -moz-linear-gradient(top, rgb(20,244,207) 0%, rgb(27,47,175) 100%);
     background: -webkit-linear-gradient(top, rgb(20,244,207) 0%, rgb(27,47,175) 100%);
     background: linear-gradient(to bottom, rgb(20,244,207) 0%, rgb(27,47,175) 100%);
    }
    h1{
          font-family: "Arial Black", Gadget, sans-serif;
          font-size: 35px;
          letter-spacing: 1px;
          word-spacing: 2px;
          color: #2A58B8;
          display: flex;
          position: relative;
          left: 430px;
         }
    .trends{
              font-family: "Arial Black", Gadget, sans-serif;
              font-size: 28px;
              letter-spacing: 1px;
              word-spacing: 2px;
              color: #FF00FF;
              display: flex;
              position: relative;
              left: 167px;
              top: 159px;
             }
    .Amount1{
            font-family: "Arial Black", Gadget, sans-serif;
            font-size: 22px;
            color: black;
            display: flex;
            position: relative;
            left: 121px;
            top: 63.5px;
           }
    .Amount2{
             position: relative;
             left: 240px;
             top: 115px;
            }
    .From{
          font-family: "Arial Black", Gadget, sans-serif;
          font-size: 22px;
          color: black;
          display: flex;
          position: relative;
          left: 560px;
          top: 53px;
         }
    .To{
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 22px;
        color: black;
        display: flex;
        position: relative;
        left: 920px;
        top: 20px;
       }
    .Convert{
              position: relative;
              left: 120px;
              top: 40px;
            }
     .Trends7d{
               
              }