html{
     height: 100%;
    }
    body{
          background: rgb(20,244,207);
          background: -moz-linear-gradient(top, rgb(20,244,207) 0%, rgb(27,47,175) 100%);
          background: -webkit-linear-gradient(top, rgb(20,244,207) 0%, rgb(27,47,175) 100%);
          background: linear-gradient(to bottom, rgb(20,244,207) 0%, rgb(27,47,175) 100%);
          width: 905px;
          height: 1029px;
          margin: 0 auto;
          position: relative;
        }
    h1{
       font-family: "Arial Black", Gadget, sans-serif;
       font-size: 35px;
       letter-spacing: 1px;
       word-spacing: 2px;
       color: #3377FF;
       display: flex;
       position: fixed;
       left: 660px;
      }
     span{
           color: #FF8C19;
         }
    .trends{
              font-family: "Arial Black", Gadget, sans-serif;
              font-size: 28px;
              letter-spacing: 1px;
              word-spacing: 2px;
              color: #113300;
              display: flex;
              position: fixed;
              left: 400px;
              top: 360px;
             }
    .Amount1{
             font-family: "Arial Black", Gadget, sans-serif;
             font-size: 22px;
             color: black;
             display: flex;
             position: fixed;
             left: 400px;
             top: 150px;
            }
    .Amount2{
             position: fixed;
             left: 398px;
             top: 205px;
            }
    .From{
          font-family: "Arial Black", Gadget, sans-serif;
          font-size: 22px;
          color: black;
          display: flex;
          position: fixed;
          left: 700px;
          top: 172px;
         }
    .To{
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 22px;
        color: black;
        display: flex;
        position: fixed;
        left: 1100px;
        top: 172px;
       }
     .Convert{
               color: rgb(255, 255, 255); 
               font-size: 28px; 
               line-height: 30px; 
               border-radius: 6px; 
               font-family: Georgia, serif; 
               font-weight: normal; 
               text-decoration: none; 
               font-style: normal; 
               font-variant: normal; 
               text-transform: none; 
               background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); 
               box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
               border: 2px solid rgb(28, 110, 164); 
               display: inline-block;
               position: fixed;
               left: 397px;
               top: 240px;
             }
     .Convert:hover {
                     background:#99FFFF; 
                    }
     .Convert:active {
                      background:#FF00FF; 
                     }
     .Trends7d{
               color: #FFFF00; 
               font-size: 28px; 
               line-height: 30px; 
               border-radius: 6px; 
               font-family: Georgia, serif; 
               font-weight: normal; 
               text-decoration: none; 
               font-style: normal; 
               font-variant: normal; 
               text-transform: none; 
               background: #801A99;
               border: #801A99; 
               display: inline-block;
               position: fixed;
               left: 600px;
               top: 470px;           
              }
     .Trends7d:hover {
                      background:grey; 
                     }
     .Trends7d:active {
                       background:#FF00FF; 
                      }
     .Trends30d{
                color: #FFFF00; 
                font-size: 28px; 
                line-height: 30px; 
                border-radius: 6px; 
                font-family: Georgia, serif; 
                font-weight: normal; 
                text-decoration: none; 
                font-style: normal; 
                font-variant: normal; 
                text-transform: none; 
                background:#801A99;  
                border: #801A99; 
                display: inline-block;
                position: fixed;
                left: 770px;
                top: 470px; 
               }
     .Trends30d:hover {
                       background:grey; 
                      }
     .Trends30d:active {
                        background:#FF00FF; 
                       }   
     .Module1{
               background-color: #D3D3D3;
               border-radius: 14px;
               width: 1250px;
               height: 220px;
               margin:auto;
               position: fixed;
               left: 330px;
               top: 120px;
             }   
     .Module2{
               background-color: #D3D3D3;
               border-radius: 14px;
               width: 1250px;
               height: 200px;
               margin: auto;
               position: fixed;
               left: 330px;
               top: 360px;
             } 
     .reset{
            color: #FF33FF; 
            font-size: 28px; 
            line-height: 30px; 
            border-radius: 6px; 
            font-family: Georgia, serif; 
            font-weight: normal; 
            text-decoration: none; 
            font-style: normal; 
            font-variant: normal; 
            text-transform: none; 
            background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); 
            box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
            border: 2px solid rgb(28, 110, 164); 
            display: inline-block;
            position: fixed;
            left: 517px;
            top: 240px;
           }
     .reset:hover {
                       background:grey; 
                      }
     .reset:active {
                        background:#FF2A00; 
                       }  
     .From2{
             position: fixed;
             left: 701px;
             top: 206px;
           }
     .To2{
          position: fixed;
          left: 1100px;
          top: 206px;
         }
     .circle {
              width: 90px;
              height: 90px;
              border-radius: 50%;
              background-color: white;
              position: fixed;
              left: 975px;
              top: 168px;
             }
     .Arrow{
             width: 66.67px;
             height: 50.78px;
             position: fixed;
             left: 989px;
             top: 186px;
           }
     .error1{
            position: fixed;
            left: 900px;
            top: 264px;
            font-size: 20px;
            color: red;
          }
     .error2{
        position: fixed;
        left: 600px;
        top: 364px;
        font-size: 27px;
        color: #FF33BB;
     }
     .result1{
             position: fixed;
             top: 260px;
             left: 834px;
             font-size: 27px;
             color: #0055FF;
     }
     .result2{
              position: fixed;
              top: 364px;
              left: 700px;
              font-size: 27px;
              color: #0055FF;
             }
    .canvas{
             position: fixed;
             background-color: whitesmoke;
             left: 430px;
             bottom: 12px;
             display: none;
           }
    .myChart{
              position: fixed;
              bottom: 12px;
              left: 500px;
              width: 920px; 
              height: 360px;
            }

    

